.search-result-text-container{
    height: 5%;
}
.result-display-container{
    height: 100%;
}
.result-display-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
 }
.search-display-text{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.sort-container{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    vertical-align: middle;
}
.sort-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
 }
.sort-container>select{
    margin-left: 5px;
    font-size: 15px;
}